[Desktop Entry]
Type=Application
TryExec=NickelLinuxLauncher
Exec=NickelLinuxLauncher
Icon=NickelLauncher
Terminal=true
Categories=Game;

Name=Nickel
GenericName=ModLoader
Comment=A modding API / mod loader for the game Cobalt Core
